---
---

@import "minima";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    color: rgba(0,0,0, 0.87);
    font-size: 80%;
    line-height: 1.6em;
}

.site-header {
    border-bottom: none;
}

.site-title {
    font-size: 1.35em;
    font-weight: normal;
}

footer .feed-subscribe,
header nav {
    display: none;
}

.page-content {
    padding: 45px 0;
}
.page-heading, .post-title {
    font-size: 1.8em;
}
.post-link {
    font-size: 0.7em;
}
.post-link .arrow {
    font-size: 1.5em;
}
.download-link {
    font-size: 0.8em;
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid;
}
.post-list-heading {
    font-size: 1em;
    margin-bottom: 30px;
}
.post-list>li {
    margin-bottom: 40px;
}
.post-content h2 {
    font-size: revert;
    line-height: 1.5em;
}
.footer-col-wrapper {
    font-size: 0.9em;
}

a.btn {
    font-size: revert;
}

.feature-item {
    display: flex;
    align-items: flex-start; 
    margin-bottom: 25px;

    span {
        margin-right: 12px;
        align-self: center;
        flex-shrink: 0;
    }

    h3 {
        font-size: 18px;
        color: #000;
        margin-bottom: 5px;
    }

    p {
        margin-bottom: 0
    }
}

.accordion-item {
    border: 1px solid !important;
    margin: 18px 0px !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    padding: 20px 0;
}