---
layout: base
---
<article class="post">
  <div class="post-content">
    <div class="text-center border-bottom mb-5">
      <img src="{{ page.logo }}" class="rounded-3 mb-4" width="60" height="60" alt="logo" loading="lazy">
      <h1 class="fw-bold text-body-emphasis post-title">{{ page.title | escape }}</h1>
      <div class="col-md-8 mx-auto">
        <p class="mb-4">{{ page.description }}</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
          <a role="button" class="btn btn-outline-primary me-sm-3"
            href="https://chrome.google.com/webstore/detail/{{ page.chrome_id }}?ref=essentialkit_detail">Add to
            Chrome</a>
          <a role="button" class="btn btn-outline-secondary" href="{{ page.github_repo }}">View source</a>
        </div>
      </div>
      <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
          <img src="{{ page.hero_image }}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image"
            width="700" height="500" loading="lazy">
        </div>
      </div>
    </div>

    {%- if page.features.size > 0 -%}
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4 py-5">
      {%- for feature in page.features -%}
      <div class="col feature-item"> 
        <span class="material-symbols-outlined">{{ feature.icon_name }}</span>
        <div>
          <h3>{{ feature.title }}</h3>
          <p>{{ feature.description }}</p>
        </div>
      </div>
      {%- endfor -%}
    </div>
    {%- endif -%}

    {%- if page.screenshots.size > 0 -%}
    <div id="carouselExampleIndicators" class="carousel slide rounded-3 shadow-lg mb-5"  data-bs-ride="carousel">
      <div class="carousel-indicators">
        {% assign num = page.screenshots.size | minus: 1 %}
        {%- for i in (0..num) -%}
          <button type="button" data-bs-target="#carouselExampleIndicators" 
            data-bs-slide-to="{{ i }}" 
            aria-label="Slide {{ i }}"
            {% if forloop.first %}
            class="active" aria-current="true"
            {%- endif -%}
            ></button>
        {%- endfor -%}
      </div>
      <div class="carousel-inner">
        {%- for screenshot in page.screenshots -%}
        <div class="carousel-item {% if forloop.first %} active {%- endif -%}" >
          <img src="{{ screenshot }}" class="d-block w-100 border rounded-3" alt="...">
        </div>
        {%- endfor -%}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    {%- endif -%}

    {{ content }}

    {%- if page.faqs.size > 0 -%}
    <hr class="m-5">
    <h2>Frequently asked questions</h2>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      {%- for faq in page.faqs -%}
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapse-{{ faq.id }}" aria-expanded="false" aria-controls="flush-collapse-{{ faq.id }}">
            {{ faq.title }}
          </button>
        </h2>
        <div id="flush-collapse-{{ faq.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">{{ faq.description }}</div>
        </div>
      </div>
      {%- endfor -%}
    </div>
    {%- endif -%}

  </div>

</article>